@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap");

@page{
  size: letter portrait;
  margin: 1in 0.5in 1in 0.25in;
}


/* Variables to tweak styles */
* {

  /* Font styles */
  --main-font: "Montserrat", sans-serif;
  --main-text-color: #444;
  --font-weight: 300;
  --line-height: 1.3;
  --root-font-size: 12pt;

  --header-font: "Playfair Display", serif;
  --header-text-color: rgb(8, 8, 8);

  /* Color styles */
  --main-background-color: white;
  --sidebar-background-color: #eaf4ff;
  --timeline-color: rgb(28, 47, 110);
  --viewer-background-color: #dcdcdc;
  --viewer-shadow-color: #313131;

  /* Positioning */
  --page-width: 8.5in;
  
  /* How far from the edges of each section should content start?
     For both the main (left) side and the right side these are applied.
  */
 
  /* How padded is the content of the sections? */
  --left-margin:  0.1in;
  --right-margin: 0.1in;
  --top-pad: 0;
  --bottom-pad: 0;

  /* padding for left side */
  --main-left-pad:  0.25in;
  --main-right-pad: 0.25in;

  --side-left-pad: 0.05in;
  --side-right-pad: 0.05in;
  
  /* How wide is the sidebar itself? 
     This will have the padding (--left-margin, --right-margin) taken out of it 
  */
  --sidebar-width: 15rem;
  --sidebar-horizontal-padding: 0.15in;

  --timeline-pos: 0.5in;
  --date-block-width: 0.7in;
  --row-blocks-padding-top: 0.5rem;
  --viewer-pages-spacing: 12px;
}

/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

*{
  box-sizing: border-box;
  --pagedjs-margin-right: var(--right-margin);
  --pagedjs-margin-left: var(--left-margin);
}


:root{

  /* How wide the content that we are working with is */
  --content-width: calc(var(--page-width) - var(--left-margin) - var(--right-margin) );

  /* How much space do we have to work with inside the sidebar? */
  --sidebar-content: calc(var(--sidebar-width) - var(--right-margin) - var(--left-margin));
  
  /* How wide the main (left) side is */
  --main-width: calc(var(--page-width) - var(--sidebar-width) - var(--left-margin) - var(--right-margin));
  
  --main-blocks-title-icon-offset-left: calc(-17pt - 0.25 * var(--root-font-size));
}

.pagedjs_page {
  --content-area-height: calc(var(--pagedjs-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));

  /* The sidebar is its designated width plus the margins on either side */
  --sidebar-background-width: var(--sidebar-width);
}

@page{
  background: linear-gradient(to left, 
                              var(--sidebar-background-color), 
                              var(--sidebar-background-color) var(--sidebar-background-width), 
                              var(--main-background-color)    var(--sidebar-background-width));
}

html {
  font-size: var(--root-font-size);
}

body{
  width: var(--content-width);
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  line-height: var(--var(--line-height));
  hyphens: auto;
}

h1, h2, h3{
  margin: 0;
  font-family: var(--header-font);
  color: var(--header-text-color);
}


#main{
  width: var(--main-width);
  font-size: 0.7rem;
  float: left;
}

.level1 {
  padding-left: var(--main-left-pad);
  padding-right: var(--main-right-pad)
}


/* Hide the titles for the three big sections */
#main > h1, #aside > h1, #disclaimer > h2 {
  display: none;
}

/* Paged.js viewer */
@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
    width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
 @media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}

#aside{
  position: relative; /* for disclaimer */
  height: var(--content-area-height);
  right: 0;
  float: right;
}

.aside{
  /* Make the aside divs as wide as the sidebar itself */
  width: calc(var(--sidebar-content));
  font-size: 0.8rem;
  position: absolute; 
  /* border: 1px solid green; */
  padding-left: var(--side-left-pad);
  padding-right: var(--side-right-pad);
}

.level2 .aside{
  left: calc(var(--main-width) - var(--side-left-pad));
}



/* Broad categories. E.g. Education */

/* Give the category title a bit of space to breath */
.section.level2 > h2 {
  padding-bottom: 1rem;
}

/* Add space between the icon and the title of category */
.section.level2 > h2 > i {
  padding-right: 0.5rem;
}

.section.level2 {
  position: relative;
}

/* Add a little arrow pointing up indicating time going forward  */
.section.level2.main-block::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  --size: 10px;
  --side_border: calc(var(--size)/1.5);
  top: 2rem;
  left: calc(var(--timeline-pos) - var(--side_border)/2 - 2.5px);
  border-bottom: var(--size) solid var(--timeline-color);
  border-left:   var(--side_border)   solid transparent;
  border-right:  var(--side_border)   solid transparent;
}

/* A cap to the timeline that is an open circle */
.section.level2.main-block::after {
  --size: 10px;
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid var(--timeline-color);
  background: white;
  bottom: 0;
  left: calc(var(--timeline-pos) - var(--size)/2 - 1px);
}

/* All the style related to the profile cards */

/* Adds the timeline itself */
.section.level3::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: var(--timeline-color);
  left: var(--timeline-pos);
}

/* The main sections containing a entry */
.section.level3 {
  display: grid;
  grid-template-columns: var(--timeline-pos) 1fr;
  position: relative;
  padding-top: 1rem;
  --pad_around_timeline: 0.75rem;
}

/* The last entry for each category adds a bit of a buffer on bottom */
.section.level3:last-child {
    margin-bottom: 1rem;
}

.section.level3 .date {
  grid-column: 1/2;
  padding-right: var(--pad_around_timeline);
}

.section.level3 .details {
  grid-column: 2/2;
  padding-left: var(--pad_around_timeline);
}

.section.level3 .details h3 {
  padding-bottom: 0.4rem;
}

.section.level3 .details ul {
  padding-left: 1.2rem;
}

.details header {
  position: relative;
}

.details header > span.location{
  position: absolute;
  top: 0;
  right: 0;
}

.date > span {
  display: block;
  position: relative;
  line-height: 2rem;
  text-align: right;
}

/* Add a little dash between the dates of the dates that are ranges */
.date > span:nth-child(2)::after {
  content: "";
  position: absolute;
  left: calc(var(--timeline-pos)/2);
  top: -0.45rem;
  width: 1.5px;
  height: 0.8rem;
  background: var(--text-color);
}


.section.level3 .decorator {
  display: none;
}



/* When in PDF export mode make sure superscripts are nice and small and italic */
sup {
  font-size: 0.45rem;
  font-style: italic;
}

.skill-bar {
  color: white;
  padding: 0.1rem 0.25rem;
  margin-top: 3px;
  position: relative;
  width: 100%;
}


/* When the class no-timeline is added we remove the after psuedo element from the header... */

/* Removes the psuedo element on h2 tags for this section */
.section.no-timeline h2::after {
  content: none;
}

/* Without adding padding the content is all up on the title */
.section.no-timeline h2 {
  padding-bottom: 1rem;
}


/* Add styles for little cards  */
.info-card{
  width: 220px;    
  float: left;    
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 4px black;
}
